<footer>
    <div id="social">
        تابعني:
        <a href="https://twitter.com/{{site.twitter}}" rel="me">
            تويتر
        </a>
        /
        <a href="https://github.com/{{site.github}}" rel="me">
            جيت هاب
        </a>
        /
        <a href="mailto:{{site.email}}" rel="me">
            البريد الإلكتروني
        </a>
    </div>
    <strong>
        جميع الحقوق محفوظة © 2024
        <br/>
        {{ site.author }}
        <br/>
        محتوى الموقع مرخص تحت
        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>
    </strong>

</footer>
