<p style="font-size: 0.9rem; color: #666;">
        {%- assign date_format = site.minima.date_format | default: "%d/%m/%Y" -%}
        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {{ page.date | date: date_format }}
        </time>
        {%- if page.modified_date -%}
        ~
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
        <time class="dt-updated" datetime="{{ mdate }}" itemprop="dateModified">
            {{ mdate | date: date_format }}
        </time>
        {%- endif -%}
        {%- if page.author -%}
        <span style="margin: 0 0.5rem;">|</span>
        {% for author in page.author %}
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            بقلم:
            <span itemprop="name" rel="author" class="p-author">
                {{ author }}
            </span>
        </span>
        {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
        {%- endif -%}
        {%- if page.tags.size > 0 -%}
        <span style="margin: 0 0.5rem;">|</span>
        {%- for tag in page.tags -%}
            <a class="p-category" href="{{ ('/tags/#' | append: tag) | relative_url }}" style="margin-left: 0.3rem;">#{{ tag }}</a>
        {%- endfor -%}
        {%- endif -%}
    </p>